<aside class="balintov-figures">
	<img src="../../assets/img/ferencz-balint_profilk%C3%A9p.png" alt="balintov" class="side-picture">
		 <h2>Key Figures</h2>
	<ul class="data-balintov">
		<li>Graduated from <mark class="accent">law</mark> at <mark class="accent">Eötvös Loránd University</mark></li>
		<li>Working at <mark class="accent"><%=currentWorkPlace%></mark></li>
		<li><mark class="accent">Phd. candidate</mark> at <abbr title="Eötvös Loránd University">ELTE</abbr>, Centre for Theory of Society</li>
		<li><mark class="accent">Research area:</mark> legal informatics, smart contracts, blockchain, data economy</li>
		<li><mark class="accent"><%=mtmtData%> publications </mark> (will be more...)</li>
		<li><mark class="accent">1st prize</mark> of <mark class="accent">Moór Gyula Legal Competition</mark> in 2020 </li>
	</ul>
</aside>