<header>
	<nav class="nav">
		<ul>
			<li class="list-item-home"><a href="/" class="nav-link">Home</a></li>
			<li class="list-item-cv"><a href="/curriculum" class="nav-link">CV</a></li>
			<li class="list-item-new"><a href="/news" class="nav-link">News</a></li>
			<li class="list-item-publications"><a href="/works" class="nav-link">Works</a></li>
			<li class="list-item-follow"><a href="/pictures" class="nav-link">Pictures</a></li>
		</ul>
	</nav>
</header>
		
