<div class="title-row-final">
	<h2 class="section-title title-social-row">the social networking</h2>
	<p class="title-final-row">i know. you want <mark style="color: black" class="accent">my social.</mark></p>
	<p class="title-final-row">not much there, but there you go:</p>
	<ul class="list-social">
		<li class="social-item"><a href="https://www.linkedin.com/in/b%C3%A1lint-ferencz-b8a9a31a6/"  target="_blank" class="social-link"><i class="fab fa-linkedin"></i></a></li>
		<li class="social-item"><a href="https://m2.mtmt.hu/api/author/10061859"  target="_blank" class="social-link"><img src="../../assets/img/logos/mtmt.jpg" alt="MTMT logo" width="30" height="30"></a></li>
		<li class="social-item"><a href="https://twitter.com/balintov1" class="social-link" target="_blank"><i class="fab fa-twitter"></i></a></li>
	</ul>
</div>