<div class="title-row">
	<h1 class="title-row-flex-item title">here is balintov</h1>
	<p class="title-row-flex-item text-head">scholar | jurist \ programmer</p>
	<p class="title-row-flex-item icons-head"><i class="head-icon fab fa-black-tie"></i> | <i class="head-icon fas fa-book-reader"></i> | <i class="head-icon fas fa-code"></i></p>
</div>